.timetable {
  width: 90vw;
  max-width: 800px;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
  border-right-color: #ffffff;
  width: 800px;
  margin-bottom: 0;
  max-width: none;
}

th,
td {
  border: 1px solid #fff;
  padding: 16px 12px;
  text-align: center;
  width: 100px;
  max-width: 14%;
}

th {
  background-color: #4197fe;
  color: #fff;
}

.heading {
  background-color: #4197fe;
  color: #fff;
}
