.button {
  display: grid;
  padding: 3px;
  place-items: center;
}

.user_name {
  width: 10.75rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
