.header {
  background: -webkit-linear-gradient(
    25deg,
    #00f2fe,
    #4facfe,
    #4197fe,
    #41fea6
  );
  background-clip: text;
  background-size: 300% auto;
  animation: header 4s ease-in-out infinite alternate;
  transition: transform 0.3s;
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header:hover {
  transform: scale(1.025);
}

@keyframes header {
  to {
    background-position: 300%;
  }
}

.header_container {
  display: flex;
  flex-direction: row;
}
